.contenedor {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 760px) {
  .contenedor {
    left: 12px;
    right: 12px;
    top: 60px;
  }
}
